<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.count == 0 %>

	<h1>There are no books currently in this category</h1>

<% else %>	

	<div class="row">

		<% @books.each do |book| %>

			<div class="col-md-3">
				<a href="/books/<%= book.id %>">
					<%= image_tag book.book_img.url(:book_index), class: "book" %>
                    <!--div class="caption", style="text-align:center;">
                    
                    <button type="button" class="btn btn-info", aria-label="left-align">
                    <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center", aria-hidden="true"></span>
                    <span class="badge"></span>
                    </button>
                    
                    <button type="button" class="btn btn-info", aria-label="left-align">
                    <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center", aria-hidden="true"></span>
                    <span class="badge"></span>
                    </button>
                    </div-->
				</a>
			</div>	

		<% end %>

	</div>
	
<% end %>	

